@page "/Prestamo/Delete/{Id:int}"
@rendermode InteractiveServer
@inject PrestamoService servicio
@inject DeudorServices DeudorService
@inject NavigationManager navigation

<PageTitle>Eliminar Prestamo</PageTitle>

<div class="container">
	<div class="card shadow-lg">

		<div class="card-header">
			<h2 class="card-title">Eliminar prestamos</h2>
		</div>
		<div class="card-body">
			<ul>
				<li>Id: @Prestamo.PrestamoId</li>
				<li>Nombre: @Prestamo.Deudor?.Nombres</li>
				<li>Concepto: @Prestamo.Concepto</li>
				<li>Deuda: @Prestamo.Monto</li>
			</ul>
		</div>
		<div class="card-footer">
			<a href="/Registro/Index" class="btn btn-outline-primary bi bi-arrow-left">Volver</a>
			<button type="button" @onclick="Eliminar" class="btn btn-outline-danger"> Eliminar</button>
		</div>
	</div>

</div>
@code {
	[Parameter]
	public int DeudorId { get; set; }
	public Prestamos Prestamo { get; set; } = new Prestamos();

	protected override async Task OnInitializedAsync()
	{
		Prestamo = await servicio.Buscar(DeudorId);
	}

	public async Task Eliminar()
	{
		await servicio.Delete(Prestamo.DeudorId);
		navigation.NavigateTo("/Registro/Index");
	}
}