@page "/Registro/Index"
@rendermode InteractiveServer
@inject NavigationManager navigation

<PageTitle></PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-header text-center">Registro</h5>
        </div>

        <div class="card-body">
            <div class="col-md-15 text-end">
                <a href="/Prioridad/Create" class="btn btn-success" type="button"><span class="bi bi-plus-square-fill mt-3"></span> Crear </a>
            </div>
        </div>

        <table class="table table-striped-columns table-hover">
            <thead >
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Ver</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@code {

}
